.edit-profile {
  width: 100%;
  padding: 20px;
  justify-content: center;
  background-color: #d6bebe;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.edit-profile h2 {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
  color: #333;
}

.edit-profile .error {
  color: red;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.edit-profile .form-group {
  margin-bottom: 15px;
}

.edit-profile .form-group label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}

.edit-profile .form-group input,
.edit-profile .form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.profile-preview {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 10px;
  object-fit: cover;
}

.edit-profile .form-group textarea {
  resize: vertical;
  min-height: 100px;
}

.edit-profile button.submit-btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-profile button.submit-btn:hover {
  background-color: #0056b3;
}
